.cardbackground {
  background-color: rgba(182, 173, 173, 0.275);
  /* opacity: 7px; */
}

.arrowexchange {
  border-radius: 100px;
  background-color: rgb(27, 27, 27);
  padding: 10px;
  width: 40px;
}

.cont {
  background-color: rgba(130, 130, 158, 0.61);
  border-radius: 5px 5px;
}

a {
  text-decoration: none;
}
