.card {
  border-radius: 20px;
  font-style: italic;
}

#tickets {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 10px;
}

#priceamt {
  font-weight: 700;
}

#moneyval {
  box-shadow: 100px;
}
