.card {
  border-radius: 20px;
  font-style: italic;
}

#tickets {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 10px;
}

#priceamt {
  font-weight: 700;
}

#moneyval {
  box-shadow: 100px;
}

#raffle-state-container {
  position: absolute;
  top: 400px;
  left: 280px;
  border-radius: 100px;
  background-color: rgb(255, 242, 0);
  width: 120px;
  height: 120px;
  margin-left: 10px;
  transform: rotate(-35deg);
  justify-content: center;
  padding: 10px;
}

#raffle-state {
  padding: 10px;
  align-self: center;

}

#time-display {
  border-radius: 10px;
  padding: 10px;
  /* width: 50px;
  height: 50px; */
  /* align-content: center;
  justify-content: center; */
  /* align-self: center; */
}