.card {
  border-radius: 20px;
  font-style: italic;
}

#tickets {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 10px;
}

#priceamt {
  font-weight: 700;
}

#moneyval {
  box-shadow: 100px;
}

#raffle-state-container {
  position: absolute;
  top: 380px;
  left: 170px;
  border-radius: 200px;
  background-color: rgb(255, 242, 0);
  width: 200px;
  height: 100;
  margin-left: 10px;
  /* transform: rotateY(45); */
}

#raffle-state {
  padding: 10px;

}