.nftimages {
  height: 250px;
}

.nft-container {
  display: flex;
}

.nftcards {
  display: flex;
}

.card {
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .nft-container {
    display: block;
    justify-content: center;
  }

  .nftcards {
    display: block;
  }
}
